<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"> 
    <title>Gas Track - About</title>
</head>
<body> 
    <ul class="header">
    <li><a href="http://localhost:3000">Track Gas</a></li>
    <li><a href="http://localhost:3000/about">About</a></li>
    <li><a href="http://localhost:3000/help">Ways To Help</a></li>
    </ul>
  <div class="content-container">
    <h1>About Us</h1>
    <h2>Our Team</h2>
    <p>Our team is made of three highschool students with backgrounds in web and app developments. With this in mind, we decided to build a web application using Express JS, CSS and HTML. </p>

    <h2>Inspiration</h2>
    <p>The war in Ukraine tha begun in Feburary 2022 has many global impacts. One of these impacts is the increase of gas prices. With record-high prices, low income families are suffering the most. With summer vacations approaching, drivers also spend even more than through out the year. Our application ‘Gas Track’ helps families in need by providing them the information they need to make cost-effective decisions when purchasing gas.  </p>

    <h2>Reflection</h2>
    <p></p>
  </div>
  <ul class="footer">

  </ul>
</body>
<script src="js/index.js"></script>
</html>