<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"> 
    <title>Gas Track - Ways To Help</title>

</head>
<body>
    <ul class="header">
    <li><a href="http://localhost:3000">Track Gas</a></li>
    <li><a href="http://localhost:3000/about">About</a></li>
    <li><a href="http://localhost:3000/help">Ways To Help</a></li>
    </ul>
  <div class="content-container">
    <h1>Ways to Help</h1>
    <h2>Help The Gas Crisis</h2>

    <h3></h3>
    <p></p>

    <h3>Inspiration</h3>
    <p></p>

    <h2>Help The Environment</h2>
    <h3>Reflection</h3>
    <p></p>
  </div>
  <ul class="footer">

  </ul>
</body>
<script src="js/index.js"></script>
</html>