<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
    </style>
    <link rel="stylesheet" href="css/styles.css"> 
    <title>Gas Track - Ways To Help</title>
  </head>
  <body>
    <ul class="header">
      <li><a href="/track">Track Gas</a></li>
      <li><a href="/">About</a></li>
      <li><a href="help">Ways To Help</a></li>
    </ul>
  <div class="content-container">
    <h1>Ways to Help</h1>
    <h2 class="help-heading">Coping With High Prices </h2>
    <section>
     <h3>Nonprofit Organizations</h3>
     <p>If you need assitance with finding transportation, there are nonprofit organizations that are willing to help you! One site that can help is <a href="https://greatnonprofits.org/categories/view/transportation-assistance">'Great Nonprofits'</a>. They provide families in need with trustworthy local reasources that can help families in need. Visit their site today to recieve assitance!</p>
    </section>
    <section>
      <h3>Lyft Transportation Assistance</h3>
      <p></p>
     </section>

    <h2 class="help-heading">Help The Environment</h2>
    <section>
      <h3></h3>
      <p></p>
     </section>
  </div>
  <Footer>
    <a  href="https://github.com/Seanrk06/GasTrack"><i class="fa-brands fa-4x fa-github-square"></i></i></a> 
  </Footer>
</body>
<script src="js/index.js"></script>
</html>
