<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Open+Sans&family=Poppins:ital,wght@0,100;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"> 
    <title>Gas Track - Ways To Help</title>

</head>
<body>
    <ul class="header">
    <li><a href="http://localhost:3000">Track Gas</a></li>
    <li><a href="http://localhost:3000/about">About</a></li>
    <li><a href="http://localhost:3000/help">Ways To Help</a></li>
    </ul>
  <div class="content-container">
    <h1>Ways to Help</h1>
    <h2 class="help-heading">Help The Gas Crisis</h2>
    <section>
     <h3></h3>
     <p></p>
    </section>

    <h2 class="help-heading">Help The Environment</h2>
    <section>
      <h3></h3>
      <p></p>
     </section>
  </div>
  <ul class="footer">

  </ul>
</body>
<script src="js/index.js"></script>
</html>