<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Open+Sans&family=Poppins:ital,wght@0,100;1,200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Gas Track - Tracker</title>
  </head>
  <body>
    <!-- <script type="importmap">
      {
        "imports": {
          "axios": "../node_modules/axios/lib/axios.js",
          "cheerio": "../node_modules/cheerio/lib/cheerio.js"
        }
      }
    </script> -->
    <ul class="header">
      <li><a href="/track">Track Gas</a></li>
      <li><a href="about">About</a></li>
      <li><a href="/help">Ways To Help</a></li>
    </ul>
    <div class="content-container">
      <h1>Gas Tracker</h1>
      <section>
        <h3>Enter your location</h3>
        <p></p>
        <form id="form" method="post" action="/track">
          <label
            >Enter city (eg: "los angeles"):
            <input
              id="city-input"
              type="text"
              name="city"
              value="santa barbara"
          /></label>
          <label
            >Enter state (eg: "california"):
            <input id="state-input" type="text" name="state" value="california"
          /></label>
          <br /><br />
          <button type="submit">Submit form</button>
        </form>
      </section>
      <p id="log"></p>
      <section>
        <h3></h3>
        <p></p>
      </section>
    </div>
    <ul class="footer"></ul>
  </body>
</html>
