

*{
    margin: 0;
    font-family: 'Staatliches', cursive;
}

body{
    background-color: #FFD36E;
    min-height: 100vh;
}

/* Header Styling */
.header{
    list-style-type: none;
    margin: 0;
    padding: 1vmax;
    overflow: hidden;
    background-color: #FF5D5D;
    font-weight: 300;
}

li {
    display: inline;
    padding: 2vmax;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 2vmax;
    font-weight: 100;
}

/*Content Styling */
.content-container{
    margin-top: 3vmax;
}

h1{
    text-align: center;
}

.help-heading{
    text-align: center;
    margin-top: 3vmax;
    font-weight: 300;
}

section{
    margin-top: 1.5vmax;
    margin-left: 2vmax;
    margin-right: 2vmax;
}

section h3{
    font-weight: 200;
}

section p{
    margin-top: 1.75vmax;
    margin-left: 2vmax;
    margin-right: 2vmax;
    font-family: 'Comfortaa', cursive;
}
/*Footer Styling*/
footer{
    text-align: center;
    
    margin-top: 10%;
    width: 100vw;
    padding: 3%;

}

.icon{
    background-color: white;
}

i{
    background-color: white;
    color: black;
    width: 0;
    height: 0;
}
